sampleDockerN8n/n8n/backup/workflows/NZ90qbf8ony6RHiD.json
{"createdAt":"2025-10-22T09:02:10.615Z","updatedAt":"2025-10-22T11:45:00.528Z","id":"NZ90qbf8ony6RHiD","name":"AI agent RAG","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"efe401d1-2ca9-4b39-9221-f0a79757ce92","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2224,208]},{"parameters":{},"id":"57607948-8383-4974-b439-1b23dd916f8f","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[1616,576],"notesInFlow":false},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484},"id":"b7afbfa0-15c3-486c-bd5e-0a2352fd1a76","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1184,272]},{"parameters":{"options":{}},"id":"5028a94e-381e-4faa-8b30-40b4d6d0c060","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2048,352]},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"97f9cbc3-68ec-40cf-b7c9-9174171544c1","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,352]},{"parameters":{"public":true,"options":{}},"id":"988aafbf-6e27-4e05-a93c-68828126845e","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1216,352],"webhookId":"e104e40e-6134-4825-a6f0-8a646d882662"},{"parameters":{"httpMethod":"POST","path":"bf4dd093-bb02-472c-9454-7ab9af97bd1d","responseMode":"responseNode","options":{}},"id":"6c74d7f9-f324-48d1-8600-0cb4e7f84903","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1216,560],"webhookId":"bf4dd093-bb02-472c-9454-7ab9af97bd1d"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the users asks you to check a document or the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."}},"id":"f92721a3-8113-4112-a02c-856d53966c98","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1696,352]},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[1760,576],"id":"b8fafd61-f079-4d4f-a403-47f4037e4d2f","name":"List Documents"},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the document.","operation":"executeQuery","query":"SELECT \n    string_agg(text, ' ') as document_text\nFROM documents_pg\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[1904,576],"id":"0a5c4a6b-a659-44b6-bc45-8ecd82f8d39d","name":"Get File Contents"},{"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the document_rows table once you know the file ID (which is the file path) you are querying. dataset_id is the file_id (file path) and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '/data/shared/document.csv';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '/data/shared/document2.csv'\nGROUP BY row_data->>'category';","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[2064,576],"id":"d562679d-81db-4777-8e4d-fe9eb46afec3","name":"Query Document Rows"},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[2496,560],"id":"37d06ed1-c62a-4422-ab2f-372b04e45497","name":"Embeddings Ollama1"},{"parameters":{"model":{"__rl":true,"value":"qwen2.5:14b-8k","mode":"list","cachedResultName":"qwen2.5:14b-8k"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1488,576],"id":"00813c39-fba8-4b39-a647-e0a4e4fde481","name":"Ollama (Change Base URL)"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":"documents_pg","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[2384,352],"id":"2f538f8a-2038-46e6-9326-d7e832ed5844","name":"Postgres PGVector Store1"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"List Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Query Document Rows":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"Ollama (Change Base URL)":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Postgres PGVector Store1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"instanceId":"45bb40c081e4b6f8f58a5ac67dbbde0b2f72076c359dec53a967f37020ce14bd"},"pinData":{},"versionId":"30e8811c-8a13-4fe3-8298-371a9641ad4e","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-22T09:02:10.615Z","updatedAt":"2025-10-22T09:02:10.615Z","role":"workflow:owner","workflowId":"NZ90qbf8ony6RHiD","projectId":"Boc8C2zZqrFORyB9","project":{"createdAt":"2025-10-22T09:02:06.036Z","updatedAt":"2025-10-22T09:24:58.578Z","id":"Boc8C2zZqrFORyB9","name":"admin admin <admin@admin.com>","type":"personal","icon":null,"description":null}}]}